# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Django
*.log
local_settings.py
db.sqlite3

# Media / Static
media/
static/
staticfiles/

# Unit test / type check
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Environment variables
.env
.env.*

# IDE / Editor
.vscode/
.idea/
